<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form id="download-form">
        <input type="text" id="video-url" placeholder="Enter YouTube video URL" required>
        <select id="video-quality" required>
            <option value="bestvideo[height<=1440]+bestaudio[ext=m4a]/best[ext=mp4]">1440p</option>
            <option value="bestvideo[height<=1080]+bestaudio[ext=m4a]/best[ext=mp4]">1080p</option>
            <option value="bestvideo[height<=720]+bestaudio[ext=m4a]/best[ext=mp4]">720p</option>
            <option value="bestvideo[height<=480]+bestaudio[ext=m4a]/best[ext=mp4]">480p</option>
        </select>
        <button type="submit">Download</button>
    </form>
    <div id="progress-container">
        <progress id="progress-bar" value="0" max="100"></progress>
        <div id="status-info">
            <p id="status">Status: Idle</p>
            <p id="file-name">File: Unknown</p>
            <p id="speed">Speed: 0 KB/s</p>
            <p id="downloaded-size">Downloaded: 0 MB</p>
            <p id="total-size">Total Size: 0 MB</p>
            <p id="time-remaining">Time Remaining: 0s</p>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>